body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://img.freepik.com/free-vector/black-wallpaper-with-motion-lines-background_1017-30151.jpg?w=360);
    background-size: cover;
}
.tittle{
    display: fixed;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjHoAtSirRlygR3xGyd7Far5ChGGV3jJMFhj0TbMxdGynTD914fAvo3Wh7n8fh2MVcq6g&usqp=CAU);
    background-size: cover;
    padding: 20px;
    width: 100%;
    justify-content: flex-end;
}

.tittle h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}

td{
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

table{
    border-bottom: 1px solid white;
    width: 90%;
    margin: auto;
}

td{
    text-align: center;
}

button{
    padding: 10px;
    margin-right: 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    top: 21px;
}

button:hover{
    background-color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
    cursor: pointer;
}

